@charset "UTF-8";

:root {
  --color-primary: #b8dae6;
  --color-bg-base: #ffffff; /* 全体の背景 */
  --color-bg-block: #f6f6f1; /* ブロック・セクション背景 */
  --color-text: #333;
  --font-main: "Zen Kaku Gothic New", "Noto Sans JP", sans-serif;
  --spacing: 16px;
  --max-width: 1166px;
  --breakpoint-md: 768px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-main), "Noto Sans JP", "ヒラギノ角ゴ Pro W3",
    "游ゴシック", "メイリオ", sans-serif;
  color: var(--color-text);
  line-height: 1.7;
  background-color: var(--color-bg-base);
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
  /* padding: 0 var(--spacing); */
}

body > section {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}

.logo img {
  width: 50%;
  max-width: 50%;
  height: auto;
}

.btn {
  font-size: 1.6rem;
  display: inline-block;
  /* padding: var(--spacing) calc(var(--spacing) * 2); */
  border-radius: 40px;
  background-color: var(--color-primary);
  color: #333;
  text-align: center;
  cursor: pointer;
  display: flex; /* align-itemをきかせるため */
  align-items: center;
  padding: 7px 10px 7px 40px;
  font-weight: 500;
  letter-spacing: 1px; /* PhotoshopのVAD100に近い */
}

.btn::after {
  width: 40px;
  height: 40px;
  margin-left: 30px;
  background-image: url("../icon/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  box-sizing: border-box;
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
}

.btn-sub {
  position: relative;
  display: inline-block; /* 擬似要素の基準にするため inline-block が安全 */
  padding-bottom: 4px;
  font-weight: 500;
  letter-spacing: 2px;
}

.btn-sub::after {
  content: "";
  position: absolute;
  left: -16px; /* 左に16pxはみ出す */
  bottom: 0;
  width: calc(100% + 20px); /* 右側は少し短め（左より控えめ） */
  height: 1px;
  background-color: #333;
}

.section-title {
  color: var(--color-text);
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 80px;
}

.section-title__en {
  color: var(--color-primary);
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 2px;
}

/* =========================
   header
   ========================= */

.header__inner {
  margin: 15px 30px;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

header .logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header .nav__list {
  display: flex;
  gap: 26px;
  align-items: center;
}

header .nav__item {
  font-size: 1.6rem;
  font-weight: 500;
}

header .instagram_link img {
  width: 34px;
  height: auto;
}

.en-large {
  font-size: 1.9rem;
}

h2 {
  content: "news";
  color: var(--color-primary);
}

.sp-header {
  display: none;
}

/* =========================
  　mv
   ========================= */
.mainVisual {
  position: relative;
}

.mainVisual .mainVisual__inner {
  margin: 0 auto 120px; /* 上下0と120px、左右はautoで中央寄せ */
  padding: 0 2.2%;
}

.slider__item > img {
  width: 100%;
}

/* =========================
  　news
   ========================= */

.news {
  position: absolute;
  bottom: -90px;
  right: 30px;
  margin: 0;
}

.news .news__inner {
  border-top: 8px solid var(--color-primary);
  background-color: var(--color-bg-base);
  padding: 25px;
}
.news .news__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.news .news__title {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 0;
}

.news__title .section-title__en {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 10px;
}

.news .news__list {
  margin-bottom: 30px;
  display: flex;
  justify-content: start;
  gap: 10px;
}

.news .date::after {
  content: "|";
  margin-left: 10px;
  color: var(--color-primary);
}

.news .date {
  font-weight: 500;
}

/* =========================
  concept
   ========================= */

.concept__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.lead {
  flex-grow: 1;
}

.concept .leadTitle {
  color: #333;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 6px;
}

.concept .section-title__en {
  margin-bottom: 40px;
}

.concept .concept__text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

/* =========================
  style
   ========================= */
.style {
  padding: 0 0 0 100px;
}

.style__inner {
  margin-bottom: 120px;
}
.style__title {
  text-align: start;
}

.style__images {
  display: flex;
  justify-content: end;
  gap: 25px;
  position: relative;
  margin-bottom: 40px;
}

.style__images::after {
  content: "";
  width: 363px;
  height: 74px;
  background-image: url(../img/style/style_instagram.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -50px;
  left: -140px;
}

.instagram-btn__wrapper {
  display: flex;
  justify-content: end;
  margin-right: 100px;
}
/* =========================
  hairMenu
========================= */

.hairMenu__inner {
  background-color: var(--color-bg-block);
  padding-top: 120px;
  padding-bottom: 120px;
}

.hairMenu .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto 80px;
}

.menu__category {
  display: flex;
  justify-content: space-between;
  width: calc((100% - 8rem) / 2);
}

.hairMenu .cut {
  position: relative;
  padding: 40px 10px;
}

.hairMenu .cut::before,
.hairMenu .cut::after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  height: 1px;
  background: #b0b0b0;
}

.hairMenu .cut::before {
  top: 0;
}
.hairMenu .cut::after {
  bottom: -0.5px;
  content: "※学生の方は学生証をご提示頂きます。";
}

.menu__title {
  font-size: 2rem;
  font-weight: 500;
}

.menu__category .label {
  font-size: 2rem;
}

.menu__category .price {
  font-size: 2.2rem;
}

.cut .menu__item {
  display: flex; /* 横並びにする */
  justify-content: space-between; /* 左右に分ける */
  width: 180px;
  padding-bottom: 21px;
}

.cut .menu__item:last-child {
  padding-bottom: 0;
}

.fixed-price {
  padding-right: 1.3rem;
}

.others .menu__list {
  width: 100%;
}
.others .menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px;
  position: relative;
}

/* 上下に線を入れる  */
.others .menu__item:last-child:after,
.others .menu__item::before {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  height: 1px;
  background: #b0b0b0;
}

.others .menu__item::before {
  top: 0;
}

.others .menu__item:last-child:after {
  bottom: 0;
}

.cut .menu__title,
.others .menu__item .label {
  font-weight: 500;
}

.hairMenu .btn-sub {
  display: block; /* １．aタグをブロック要素にしてmarginが効くようにする */
  width: fit-content; /* ２．ブロック要素になり親要素いっぱいになった横幅をテキスト幅に合わせる */
  margin: 0 auto;
}

/* =========================
  salon-photo
========================= */
.salon-photo__inner {
  margin-bottom: 120px;
}
.salon-photo__inner > img {
  margin: auto;
}
/* =========================
  reserve
========================= */

.reserve__inner {
  margin: 0 auto 120px;
  width: fit-content;
}

.reserve .schedule {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* カレンダーデザイン */
.fc-header-toolbar,
.fc-view-harness,
.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table {
  width: 100%;
}

.fc-view-harness,
.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table {
  height: 370px;
}

.schedule-calendar,
.schedule-info__wrapper {
  flex: 1;
}

#fc-dom-1 {
  color: #333;
}

.fc .fc-button-primary {
  /* color: var(--fc-button-text-color); */
  color: var(--color-primary);
}

.fc .fc-prev-button {
  /* background-color: pink; */
  background-color: var(--color-bg-block);
  border: 1px solid #fff;
}

.fc .fc-next-button {
  background-color: var(--color-bg-block);
  border: 1px solid #fff;
}

.fc .fc-today-button {
  color: #333;
  background-color: var(--color-primary);
  font-weight: bold;
}

.fc .fc-today-button:hover {
  background-color: var(--color-primary);
  border: none;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: var(--color-primary);
}

.fc .fc-col-header {
  background-color: var(--color-bg-block);
  color: #333;
}

/* ←カレンダーデザイン */

.tel-btn::after {
  background-image: url("../icon/tel.svg");
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.reserve .schedule-info > * {
  margin-bottom: 10px;
}

.reserve .schedule-info .info-header {
  font-size: 2.2rem;
  font-weight: 500;
}

.reserve .info-detail {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* table */

.schedule-info {
  margin-top: 54px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 40px;
}

.info-header:first-child {
  border-bottom: solid 1px var(--color-primary);
  cursor: pointer;
}

table th,
table td {
  padding: 10px 0;
}

.reserve .schedule-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  /* padding: 7px 40px 7px 75px; */
}

.tel-btn {
  background-color: var(--color-bg-base);
  border: 1px solid var(--color-primary);
}

.tel-btn__wrapper {
  text-align: center;
}

.reserve .tel-number {
  font-size: 2rem;
  letter-spacing: 2px;
}

.reserve .schedule-info__text {
  text-align: center;
  margin-bottom: 10px;
}

.reserve .btn-sub {
  text-align: center;
}

.hotpepper {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
}

/* =========================
  access
========================= */

.access {
  margin: 0 auto;
  padding: 0;
}

.access__title {
  margin-bottom: 160px;
}

.access__content {
  display: flex;
  background-color: var(--color-bg-block);
  gap: 40px;
  padding-bottom: 40px;
  justify-content: center;
}

.access__content > div {
  flex: 1;
}

.access .access_info {
  font-size: 1.8rem;
  padding: 40px 0 0;
  letter-spacing: 2px;
}

.access__salon-photo > img {
  margin-top: -80px;
  width: fit-content;
}

.access__salon-photo {
  display: flex;
  justify-content: end;
}

.access .logo {
  position: relative;
  display: flex;
  align-items: end;
  gap: 20px;
  padding-bottom: 40px;
  width: fit-content;
}

.access .logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 4px;
  background-color: var(--color-primary);
}

.access .access__instagram {
  width: 30px;
  height: 30px;
}

.access address {
  margin-top: 40px;
  margin-bottom: 1rem;
}

.access-detail {
  margin-bottom: 1rem;
  line-height: 1.3;
}

.g-map__btn {
  display: inline-block;
  background-color: var(--color-primary);
  padding: 3px 40px;
  text-align: center;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-left: 10px;
}

.access .tel-number {
  position: relative;
  padding-left: 22px;
  font-size: 2rem;
  line-height: 1;
}

.access .tel-number::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  background-image: url(../icon/tel.svg);
  width: 17px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}

/* =========================
  footer
========================= */

.footer__inner {
  margin: 0 20px;
  text-align: center;
}

.coppyright {
  font-size: 1rem;
}

/* ===== SP ===== */
@media (max-width: 767px) {
  /* =========================
  header
========================= */
  .header__inner {
    margin: 0 2.2%;
  }

  header .logo {
    /* top: 0; */
    top: 20px;
  }

  .logo img {
    max-width: 40%;
  }

  .sp-header {
    display: block;
  }

  .sp-header__content {
    display: block;
  }

  .sp-header__inner {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .sp-header__inner > .btn-reserve {
    flex-direction: column;
  }
  .sp-header .btn-reserve .btn {
    flex-direction: column-reverse;
    padding: 5px 14px;
    border-radius: 0;
    font-size: 1.2rem;
  }

  .sp-header .btn-reserve .btn::after {
    margin-left: 0px;
  }
  .nav-burgar {
    margin-top: 10px;
  }
}

/*=============================
#ハンバーガー
=============================*/
@media (max-width: 767px) {
  .btn-trigger {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
  }

  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px; /* ←ラインの太さ3px */
    background-color: var(--color-primary);
    border-radius: 3px;
    transition: all 0.5s;
    box-sizing: border-box;
  }

  /* --- 各ラインの位置 --- */
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 8px; /* ← gap 約5px */
  }
  .btn-trigger span:nth-of-type(3) {
    top: 16px; /* ← 3px＋5px＋3px＋5px の位置に合わせる */
  }

  /* --- 通常状態（戻る動き） --- */
  #btn07 span:nth-of-type(1) {
    animation: btn07-bar01 0.75s forwards;
  }
  @keyframes btn07-bar01 {
    0% {
      transform: translateY(8px) rotate(45deg);
    }
    50% {
      transform: translateY(8px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }

  #btn07 span:nth-of-type(2) {
    transition: all 0.25s 0.25s;
    opacity: 1;
  }

  #btn07 span:nth-of-type(3) {
    animation: btn07-bar03 0.75s forwards;
  }
  @keyframes btn07-bar03 {
    0% {
      transform: translateY(-8px) rotate(-45deg);
    }
    50% {
      transform: translateY(-8px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }

  /* --- アクティブ状態（×に変化） --- */
  #btn07.active span:nth-of-type(1) {
    animation: active-btn07-bar01 0.75s forwards;
  }
  @keyframes active-btn07-bar01 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(8px) rotate(0);
    }
    100% {
      transform: translateY(8px) rotate(45deg);
    }
  }

  #btn07.active span:nth-of-type(2) {
    opacity: 0;
  }

  #btn07.active span:nth-of-type(3) {
    animation: active-btn07-bar03 0.75s forwards;
  }
  @keyframes active-btn07-bar03 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-8px) rotate(0);
    }
    100% {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  /* --- open時のnav設定 --- */
  header .nav__list {
    flex-direction: column;
  }

  #navArea {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-block);
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.6s ease;
    z-index: 1000;
    display: flex;
    justify-content: center;
  }

  #navArea.open {
    transform: translateX(0);
    opacity: 1;
  }

  nav {
    margin-top: 80px;
  }

  /* =========================
  mainVisual
========================= */

  .mainVisual .mainVisual__inner {
    margin: 0 auto; /* pc  mvしたのマージン外す */
  }

  .mainVisual .slick-dots {
    display: none !important;
  }

  .news__list {
    font-size: 1.2rem;
  }

  .news {
    position: static;
    margin: 0 2.2%;
  }

  .news .news__inner {
    width: 100%; /* pc 30vw */
    margin-top: -30px;
    padding-bottom: 40px;
  }

  .news .news__list {
    margin-bottom: 0px;
    font-size: 1.2rem;
  }

  body > section {
    padding: 0 8%;
  }
  /* =========================
  concept
========================= */

  .lead_image {
    /* height: 440px; */
    /* padding-right: 0; */
    margin-bottom: 40px;
    margin-left: 8%;
    display: block;
    object-fit: cover;
    height: 220px;
  }

  .concept__inner {
    /* justify-content: space-between; */
    /* margin-bottom: 120px; */
    margin-bottom: 80px;
    flex-direction: column-reverse;
  }

  .concept .leadTitle {
    /* font-size: 2.4rem; */
    /* letter-spacing: 6px; */
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
  }

  .concept .concept__text {
    width: 24em;
    font-size: 1.4rem;
  }

  /* =========================
  style
========================= */

  .style {
    padding: 0 8%;
  }

  .style__inner {
    /* margin-bottom: 120px; */
    margin-bottom: 80px;
  }

  .style__images {
    justify-content: start;
    gap: 10px;
    margin-left: 100px;
  }

  .style__images::after {
    width: 270px;
    background-size: contain;
    background-position: center;
    bottom: -45px;
    left: -133px;
  }

  .instagram-btn__wrapper {
    margin-right: 0px;
  }
  /* =========================
  hairmenu
========================= */
  .hairMenu__inner {
    /* pc padding-top: 120px; */
    /* pc padding-bottom: 120px; */
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-title {
    /* pc margin-bottom: 80px; */
    margin-bottom: 40px;
  }

  .hairMenu .menu {
    /* align-items: flex-start; */
    width: 80%;
    margin: 0 auto 40px;
    flex-direction: column;
  }
  .hairMenu .cut {
    /* padding: 40px 10px; */
    padding: 20px 0px;
  }
  .cut .menu__item {
    /* padding-bottom: 21px; */
    padding-bottom: 15px;
    width: 100%;
  }
  .menu__category {
    /* width: calc 指定; */
    flex-direction: column;
    width: 100%;
  }

  .others .menu__item {
    width: 100%;
    /* padding: 40px 10px; */
    padding: 20px 0;
  }

  .others .menu__list {
    width: 100%;
  }

  .menu__category .label {
    /* font-size: 2rem; */
    font-size: 1.8rem;
  }

  .menu__category .price {
    /* font-size: 2.2rem; */
    font-size: 1.8rem;
  }

  .cut .price-category:first-of-type {
    margin-top: 20px;
  }

  .hairMenu .cut::before,
  .hairMenu .cut::after {
    /* background: #b0b0b0; */
    background: var(--color-primary);
  }

  .others .menu__item:last-child::after,
  .others .menu__item::before {
    /* background: #b0b0b0; */
    background: var(--color-primary);
  }

  /* =========================
  salon-photo
========================= */
  .salon-photo__inner {
    margin-bottom: 80px;
  }

  /* =========================
  reserve
========================= */
  .reserve .schedule {
    width: 100%;
    flex-direction: column;
  }

  .reserve .schedule-calendar,
  .reserve .schedule-info {
    width: 100%;
  }

  .reserve .schedule-info .info-header {
    font-size: 1.6rem;
  }

  .reserve .info-detail {
    font-size: 1.4rem;
    letter-spacing: 0.02rem;
  }

  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 1em;
  }

  /* =========================
  access
========================= */

  .access__content {
    flex-direction: column;
  }

  .access__salon-photo > img {
    /* margin-top: -80px; */
    /* width: fit-content; */
    margin-top: -100px;
    width: 100%;
    max-width: 543px;
  }

  .access__salon-photo {
    /* justify-content: end; */
    justify-content: center;
  }

  .access .access_info {
    /* padding: 40px 0 0; */
    padding: 0 30px;
    text-align: center;
  }

  .access .logo {
    justify-content: center;
  }

  .access .logo::after {
    left: 50%;
  }

  .access__salon-photo > img {
    width: 69%;
  }

  .access .access_info {
    margin: 0 auto;
  }
  .access .logo::after {
    /* left: 0; */
    left: auto;
  }

  .fc-view-harness,
  .fc-col-header,
  .fc-daygrid-body,
  .fc-scrollgrid-sync-table {
    height: 300px;
  }
}
